{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
  Change Profile Password
{% endblock %}

{% block content %}
<div class="container">
    <h1>Change Password</h1>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% if err_msg %}
          <link rel="stylesheet" type="text/css" href="{% static '/css_taken_from_django_core_admin/css/base.css' %}">
          <ul class="messagelist">
            <li class='error'>{{ err_msg }}</li>
          </ul>
        {% endif %}
        <input type="submit" value="Change Password" class="btn newsbox-btn m-2">
    </form>
</div>
{% endblock %}
