{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
  Password Reset
{% endblock %}


{% block content %}
<div class="container">
    <h3>Password Reset</h3>
    <br>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Reset Password" class="btn newsbox-btn btn-3 m-2">
    </form>
    <br>
    <p>Don't have an account, <a href="{% url 'accounts:signup' %}">Sign up</a> here!</p>
</div>
{% endblock %}
