{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
  Password Reset Successful
{% endblock %}

{% block content %}
<div class="container">
  <link rel="stylesheet" type="text/css" href="{% static '/css_taken_from_django_core_admin/css/base.css' %}">
  <ul class="messagelist">
    <li class="success">Your password has been reset successfully.  You may go ahead and click <a href="{% url 'accounts:login' %}"><u>here</u></a> to login.</li>
  </ul>
</div>
{% endblock %}
